/* Bootstrap */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom */
.form-control,
.form-select,
.input-group-text {
    border-radius: 50rem !important;
}

.shadow-soft {
    box-shadow: 0 2px 10px rgba(0,0,0,0.06);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}
